/* CSS 編碼程式 -- 選擇器{屬性：值} */




body{
    background-color: rgb(199, 226, 235);
    text-align: left;
}

h1{

    color: rgba(169, 6, 234, 0.596);
    font-size: 50px;
    text-align: center;
    font-style: normal;
    font-weight:bold;

}

legend{

    font-size: 40px

}


fieldset{
    background-color: rgb(227, 253, 215);
    text-align:left;
    font-size: 30px;
    color: rgb(42, 43, 41);
}

div.content{
    padding:10px;border:1px dashed #3bc205e3;

}

.content input{
    color:black;
    height: 40px;
    width: 40px;
}

.button{
    width:100px;
    text-align: center;
    color:#fff;
    font-size:3em;
  }

.hover:hover{
    background-color:yellowgreen;
}
    
.hover{
    font-weight:bold;
}

